@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  overflow: -moz-scrollbars-none;
}

body {
  overflow: hidden;
  scrollbar-width: none;
}

@-moz-document url-prefix() {
    body{overflow-y: hidden !important;}
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}